extends layout

block layout-content
  header
    div.head
      h1 
        a(href="/..").home Alex Pitts
    div.links
      a(href="/assignments").button Assignments
      a(href="https://github.com/alexgpitts", target="_blank").button GitHub
      a(href="../images/resume.pdf", target="_blank").button Resume
      //- a(href="https://www.youtube.com/channel/UCcKKS_xiZP7_-riaaGBYG9Q",target="_blank").button YouTube
      a(href="https://www.flickr.com/people/193818387@N02/", target="_blank").button Flickr
      
  main
    div.about
        h1.aboutme Mass of a Celestial Object Project (Physics 212)
        p.description This project was to teach us how to calculate the mass of an orbiting object using Kepler's Third Law. Below is a poster explaining how we calculated the mass of Jupiter by observing the orbital period of the moon Europa 
        p.description

  img(src="../images/Jupiter.jpg")#poster
  footer  
    a(href="mailto: alexgpitts@gmail.com").foot contact me
      