extends layout

block layout-content
  header
    div.head
      h1 
        a(href="/..").home Alex Pitts
    div.links
     a(href="/Projects").button Projects
      a(href="https://github.com/alexgpitts", target="_blank").button GitHub
      //- a(href="https://www.youtube.com/channel/UCcKKS_xiZP7_-riaaGBYG9Q",target="_blank").button YouTube
      a(href="https://www.flickr.com/people/193818387@N02/", target="_blank").button Flickr
      a(href="../images/resume.pdf", target="_blank").button Resume
      
  main
    div.assignments
      h1 OSU Projects
      p Some of my Projects from Oregon State University
      div.assignments_container
        a(href="/OSU/smallsh").Proj
            img(src="./images/smallsh.png")#website
            figcaption Small Shell
            //- #website.Proj CS 290 Website
        
        
        //- a(href="").Proj proj2
        //- a(href="").Proj proj3
        //- a(href="").Proj proj4

      
  footer 
    a(href="mailto: alexgpitts@gmail.com").foot contact me
      