extends layout

block layout-content
  header
    div.head
      h1 
        a(href="/..").home Alex Pitts
    div.links
      a(href="/Projects").button Projects
      a(href="https://github.com/alexgpitts", target="_blank").button GitHub
      //- a(href="https://www.youtube.com/channel/UCcKKS_xiZP7_-riaaGBYG9Q",target="_blank").button YouTube
      a(href="https://www.flickr.com/people/193818387@N02/", target="_blank").button Flickr
      a(href="../images/resume.pdf", target="_blank").button Resume
       
  main
    div.assignments
      h1 OSU Projects
      p Some of my Projects from Oregon State University
      div.assignments_container
        a(href="/OSU/capstone").Proj
            img(src="./images/under.png")#website
            figcaption Observing Ocean Wave Conditions - Capstone Project

        a(href="/OSU/smallsh").Proj
            img(src="./images/smallsh.png")#website
            figcaption Small Shell - Operating Systems 1
      h1 LBCC Projects
      p Some of my Projects from Linn Benton Community College
      div.assignments_container
        a(href="https://alexpitts.herokuapp.com/", target="_blank").Proj
            img(src="./images/Website.jpg")#website
            figcaption Home Website - CS290
            //- #website.Proj CS 290 Website
        
        a(href="/LBCC/Jupiter").Proj 
            img(src="./images/Jupiter.jpg")#website
            figcaption Physics 212 (Mass Of Jupiter)
        //- a(href="").Proj proj2
        //- a(href="").Proj proj3
        //- a(href="").Proj proj4

      
  footer 
    a(href="mailto: alexgpitts@gmail.com").foot contact me
      